<div class="bg-footer border-radius-top-xxl">
    <div class="container px-24 py-48 px-xl-0 py-100">
        <div class="d-xl-flex align-items-end">
            <div  class="logo-footer mb-40 mb-xl-16">
                <a href="index.html" class="d-block hide-text" title="Learning"> Learning </a>
            </div>
            <ul class="mb-40 d-xl-flex ms-xl-auto">
                <li class="pb-24 pb-xl-0 me-xl-28">
                    <a href="" class="fs-14 text-white px-xl-3 py-xl-2 text-decoration-none primary-pill--hover">
                        常見問題
                    </a>
                </li>
                <li class="pb-24 pb-xl-0 me-xl-28">
                    <a href="" class="fs-14 text-white px-xl-3 py-xl-2 text-decoration-none primary-pill--hover">
                        關於我們
                    </a>
                </li>
                <li class="pb-24 pb-xl-0 me-xl-28">
                    <a href="" class="fs-14 text-white px-xl-3 py-xl-2 text-decoration-none primary-pill--hover">
                        隱私權政策
                    </a>
                </li>
                <li class="">
                    <a href="" class="fs-14 text-white px-xl-3 py-xl-2 text-decoration-none primary-pill--hover">
                        使用者條款
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-xl-flex flex-xl-row-reverse align-items-xl-end">
            <ul class="d-flex mb-32 mb-xl-0">
                <li class="pe-16">
                    <a href="#" class="w-40px h-40px fs-18 text-white rounded-pill border d-inline-flex justify-content-center align-items-center bg-primary--hover">
                        <i class="bi bi-line"></i>
                    </a>         
                </li>
                <li class="pe-16">
                    <a href="#" class="w-40px h-40px fs-18 text-white rounded-pill border d-inline-flex justify-content-center align-items-center bg-primary--hover">
                        <i class="bi bi-youtube"></i>
                    </a>         
                </li>
                <li class="">
                    <a href="#" class="w-40px h-40px fs-18 text-white rounded-pill border d-inline-flex justify-content-center align-items-center bg-primary--hover">
                        <i class="bi bi-facebook"></i>
                    </a>         
                </li>
            </ul>
            <p class="fs-12 text-gray-300 me-xl-auto">copyright © 2024 課程網站 All Rights Reserved.</p>
        </div>
        
    </div>
</div>
