
  <div class="container mx-auto py-xl-5 border-xl-bottom">
    <div class="nav d-flex align-items-center flex-xl-nowrap">
      <h1 class="logo mb-0">
        <a href="index.html" class="d-block hide-text" title="Vivre"> Vivre </a>
      </h1>
      <button
        class="toggle-btn btn btn-primary z-1000 position-relative d-xl-none ms-auto"
      >
        <i class="toggle-icon bi bi-list"></i>
      </button>
      <!-- 選單內容 -->
      <div class="menu-content z-3 ms-xl-5 d-xl-flex w-100">
        <div class="container d-xl-flex w-xl-100">
          <div class="input-group mb-4 pt-3 mb-xl-0 pt-xl-0 w-xl-276px h-xl-48px">
            <span
              class="input-group-text bg-white ps-3 border-left-radius-pill pe-0 fs-content text-color-focus-change"
              >搜尋文章</span
            >
            <input
              type="text"
              class="form-control focus-style-reset border-left-0 border-right-0"
              aria-label="Amount (to the nearest dollar)"
            />
            <span class="input-group-text bg-white border-right-radius-pill">
              <i class="bi bi-search text-teal fs-4 pe-1"></i>
            </span>
          </div>
          <ul class="mb-5 d-xl-flex mb-xl-0 align-items-center ms-xl-auto">
            <li class="mb-4 mb-xl-0 me-xl-3">
              <a href="" class="fs-content nav-items text-decoration-none"
                >所有文章</a
              >
            </li>
            <li class="mb-4 mb-xl-0 me-xl-3">
              <a href="" class="fs-content nav-items text-decoration-none"
                >訂閱方案</a
              >
            </li>
            <li class="me-xl-3">
              <a href="" class="fs-content nav-items text-decoration-none"
                >關於我們</a
              >
            </li>
          </ul>
          <div class="mt-6 mt-xl-0">
            <a
            href="register.html"  
            class="btn-teal text-decoration-none fs-content d-block w-100 w-xl-auto rounded-pill"
            >
              登入 / 註冊
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->
