.index-banner {
  background: url(../../assets/images/banner-sm.png) center center no-repeat;
  background-size: cover;
  height: 551px;
  // padding: 0 14px;
  // h2 {
  //   font-size: 24px;
  //   font-weight: bold;
  //   @include md{
  //     font-size: 64px;
  //   }
  // }
  // a {
  //   padding: 6px 12px;
  //   background-color: $secondary;
  //   transition: all, 0.3s;
  // }
  // @include md{
  //   height: 787px;
  // }
  // @include md-to-xl{
  //   padding: 0 40px;
  // }
  @include xl {
    padding: 0 auto;
    background: url(../../assets/images/banner.png) center center no-repeat;
    background-size: cover;
  }
}
.index-article-list {
  @include xs-to-md {
    width: 1000%;
  }
  .w330-to-48percent{
    width: 330px !important;
    @include xl {
      width: 48% !important;
    }
  }
}
.deco-subscription {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  @include xl {
    &:before {
      background: url(../../assets/images/bg-1.png) center center no-repeat;
      background-size: contain;
      width: 217px;
      height: 81px;
      left: 0;
      bottom: -92px;
    }
  }
  &:after {
    background: url(../../assets/images/bg-2.png) center center no-repeat;
      background-size: contain;
    @include xs-to-md {
      width: 160px;
      height: 104px;
      right: -50px ;
      bottom: -58px;
    }
    @include xl {
      width: 300px;
      height: 196px;
      right: -40px;
      bottom: -94px;
    }
  }
}
