/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$teal-dark: #406c55;
$primary-300: #E8E3DA;

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin md-to-xl {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin xs-to-md {
  @media (max-width: 1199px) {
    @content;
  }
}
.fs-content{
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 600 !important;
}
.fs-12px{
  font-size: 0.75rem;
}
.fs-xl-52px{
  @include xl {
    font-size: 3.25rem;
  }
}
.fs-content-tc{
  font-family: "Noto Serif TC", serif;
}
.fs-content-ce{
  font-family: "Newsreader", serif;
}
.font-weight-bold{
  font-weight: 800;
}
.font-weight-black{
  font-weight: 600;
}

.input-custom{
  background-color: $gray-100;
  border: 0px;
  padding: 12px 16px;
}
.input-custom::placeholder {
  color:$gray-500; 
  opacity: 1;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .noto-sans-tc-<uniquifier> {
//   font-family: "Noto Sans TC", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

// .newsreader-<uniquifier> {
//   font-family: "Newsreader", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }